<%= form_with(model: mandarin_preference, local: true) do |form| %>
  <% if mandarin_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mandarin_preference.errors.count, "error") %> prohibited this mandarin_preference from being saved:</h2>

      <ul>
      <% mandarin_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :tone_color_1 %>
    <%= form.text_area :tone_color_1 %>
  </div>

  <div class="field">
    <%= form.label :tone_color_2 %>
    <%= form.text_area :tone_color_2 %>
  </div>

  <div class="field">
    <%= form.label :tone_color_3 %>
    <%= form.text_area :tone_color_3 %>
  </div>

  <div class="field">
    <%= form.label :tone_color_4 %>
    <%= form.text_area :tone_color_4 %>
  </div>

  <div class="field">
    <%= form.label :tone_color_5 %>
    <%= form.text_area :tone_color_5 %>
  </div>

  <div class="field">
    <%= form.label :actor_tone_1 %>
    <%= form.text_area :actor_tone_1 %>
  </div>

  <div class="field">
    <%= form.label :actor_tone_2 %>
    <%= form.text_area :actor_tone_2 %>
  </div>

  <div class="field">
    <%= form.label :actor_tone_3 %>
    <%= form.text_area :actor_tone_3 %>
  </div>

  <div class="field">
    <%= form.label :actor_tone_4 %>
    <%= form.text_area :actor_tone_4 %>
  </div>

  <div class="field">
    <%= form.label :actor_tone_5 %>
    <%= form.text_area :actor_tone_5 %>
  </div>

  <div class="field">
    <%= form.label :understudy_tone_1 %>
    <%= form.text_area :understudy_tone_1 %>
  </div>

  <div class="field">
    <%= form.label :understudy_tone_2 %>
    <%= form.text_area :understudy_tone_2 %>
  </div>

  <div class="field">
    <%= form.label :understudy_tone_3 %>
    <%= form.text_area :understudy_tone_3 %>
  </div>

  <div class="field">
    <%= form.label :understudy_tone_4 %>
    <%= form.text_area :understudy_tone_4 %>
  </div>

  <div class="field">
    <%= form.label :understudy_tone_5 %>
    <%= form.text_area :understudy_tone_5 %>
  </div>

  <div class="field">
    <%= form.label :_pref %>
    <%= form.number_field :_pref %>
  </div>

  <div class="field">
    <%= form.label :character_variant_pref %>
    <%= form.number_field :character_variant_pref %>
  </div>

  <div class="field">
    <%= form.label :mnemonic_active_field %>
    <%= form.number_field :mnemonic_active_field %>
  </div>

  <div class="field">
    <%= form.label :notes_active_field %>
    <%= form.number_field :notes_active_field %>
  </div>

  <div class="field">
    <%= form.label :learned_from_active_field %>
    <%= form.number_field :learned_from_active_field %>
  </div>

  <div class="field">
    <%= form.label :etymology_active_field %>
    <%= form.number_field :etymology_active_field %>
  </div>

  <div class="field">
    <%= form.label :image_active_field %>
    <%= form.text_field :image_active_field %>
  </div>

  <div class="field">
    <%= form.label :similar_active_field %>
    <%= form.number_field :similar_active_field %>
  </div>

  <div class="field">
    <%= form.label :part_of_speech_active_field %>
    <%= form.text_field :part_of_speech_active_field %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
