<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mandarin_preference.user %>
</p>

<p>
  <strong>Tone color 1:</strong>
  <%= @mandarin_preference.tone_color_1 %>
</p>

<p>
  <strong>Tone color 2:</strong>
  <%= @mandarin_preference.tone_color_2 %>
</p>

<p>
  <strong>Tone color 3:</strong>
  <%= @mandarin_preference.tone_color_3 %>
</p>

<p>
  <strong>Tone color 4:</strong>
  <%= @mandarin_preference.tone_color_4 %>
</p>

<p>
  <strong>Tone color 5:</strong>
  <%= @mandarin_preference.tone_color_5 %>
</p>

<p>
  <strong>Actor tone 1:</strong>
  <%= @mandarin_preference.actor_tone_1 %>
</p>

<p>
  <strong>Actor tone 2:</strong>
  <%= @mandarin_preference.actor_tone_2 %>
</p>

<p>
  <strong>Actor tone 3:</strong>
  <%= @mandarin_preference.actor_tone_3 %>
</p>

<p>
  <strong>Actor tone 4:</strong>
  <%= @mandarin_preference.actor_tone_4 %>
</p>

<p>
  <strong>Actor tone 5:</strong>
  <%= @mandarin_preference.actor_tone_5 %>
</p>

<p>
  <strong>Understudy tone 1:</strong>
  <%= @mandarin_preference.understudy_tone_1 %>
</p>

<p>
  <strong>Understudy tone 2:</strong>
  <%= @mandarin_preference.understudy_tone_2 %>
</p>

<p>
  <strong>Understudy tone 3:</strong>
  <%= @mandarin_preference.understudy_tone_3 %>
</p>

<p>
  <strong>Understudy tone 4:</strong>
  <%= @mandarin_preference.understudy_tone_4 %>
</p>

<p>
  <strong>Understudy tone 5:</strong>
  <%= @mandarin_preference.understudy_tone_5 %>
</p>

<p>
  <strong>Pref:</strong>
  <%= @mandarin_preference._pref %>
</p>

<p>
  <strong>Character variant pref:</strong>
  <%= @mandarin_preference.character_variant_pref %>
</p>

<p>
  <strong>Mnemonic active field:</strong>
  <%= @mandarin_preference.mnemonic_active_field %>
</p>

<p>
  <strong>Notes active field:</strong>
  <%= @mandarin_preference.notes_active_field %>
</p>

<p>
  <strong>Learned from active field:</strong>
  <%= @mandarin_preference.learned_from_active_field %>
</p>

<p>
  <strong>Etymology active field:</strong>
  <%= @mandarin_preference.etymology_active_field %>
</p>

<p>
  <strong>Image active field:</strong>
  <%= @mandarin_preference.image_active_field %>
</p>

<p>
  <strong>Tags active field:</strong>
  <%= @mandarin_preference.tags_active_field %>
</p>

<p>
  <strong>Opposite active field:</strong>
  <%= @mandarin_preference.opposite_active_field %>
</p>

<p>
  <strong>Similar active field:</strong>
  <%= @mandarin_preference.similar_active_field %>
</p>

<p>
  <strong>Part of speech active field:</strong>
  <%= @mandarin_preference.part_of_speech_active_field %>
</p>

<p>
  <strong>Classifier active field:</strong>
  <%= @mandarin_preference.classifier_active_field %>
</p>

<p>
  <strong>Initial final active field:</strong>
  <%= @mandarin_preference.initial_final_active_field %>
</p>

<p>
  <strong>Vote active field:</strong>
  <%= @mandarin_preference.vote_active_field %>
</p>

<p>
  <strong>Css pref:</strong>
  <%= @mandarin_preference.css_pref %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @mandarin_preference.revision_id %>
</p>

<%= link_to 'Edit', edit_mandarin_preference_path(@mandarin_preference) %> |
<%= link_to 'Back', mandarin_preferences_path %>
