<p id="notice"><%= notice %></p>

<h1>Mandarin Words</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Entry</th>
      <th>View status</th>
      <th>Meaning</th>
      <th>Radical</th>
      <th>Stroke order</th>
      <th>Character simplified</th>
      <th>Character traditional</th>
      <th>Pinyin numbered</th>
      <th>Pinyin marked</th>
      <th>Pinyin</th>
      <th>Tone number</th>
      <th>Mnemonic</th>
      <th>Notes</th>
      <th>Learned from</th>
      <th>Etymology</th>
      <th>Sound file</th>
      <th>Image file</th>
      <th>Tags</th>
      <th>Opposites standard</th>
      <th>Similar standard</th>
      <th>Opposites traditional</th>
      <th>Similar traditional</th>
      <th>Part of speech</th>
      <th>Classifier</th>
      <th>Initial</th>
      <th>Final</th>
      <th>Duplicate from</th>
      <th>Ip address</th>
      <th>Vote value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mandarin_words.each do |mandarin_word| %>
      <tr>
        <td><%= mandarin_word.user.username %></td>
        <td><%= mandarin_word.entry_id %></td>
        <td><%= mandarin_word.view_status %></td>
        <td><%= mandarin_word.meaning %></td>
        <td><%= mandarin_word.radical %></td>
        <td><%= mandarin_word.stroke_order %></td>
        <td><%= mandarin_word.character_simplified %></td>
        <td><%= mandarin_word.character_traditional %></td>
        <td><%= mandarin_word.pinyin_numbered %></td>
        <td><%= mandarin_word.pinyin_marked %></td>
        <td><%= mandarin_word.pinyin %></td>
        <td><%= mandarin_word.tone_number %></td>
        <td><%= mandarin_word.mnemonic %></td>
        <td><%= mandarin_word.notes %></td>
        <td><%= mandarin_word.learned_from %></td>
        <td><%= mandarin_word.etymology %></td>
        <td><%= mandarin_word.sound_file %></td>
        <td><%= mandarin_word.image_file %></td>
        <td><%= mandarin_word.tags %></td>
        <td><%= mandarin_word.opposites_standard %></td>
        <td><%= mandarin_word.similar_standard %></td>
        <td><%= mandarin_word.opposites_traditional %></td>
        <td><%= mandarin_word.similar_traditional %></td>
        <td><%= mandarin_word.part_of_speech %></td>
        <td><%= mandarin_word.classifier %></td>
        <td><%= mandarin_word.initial %></td>
        <td><%= mandarin_word.final %></td>
        <td><%= mandarin_word.duplicate_from %></td>
        <td><%= mandarin_word.ip_address %></td>
        <td><%= mandarin_word.vote_value %></td>
        <td><%= link_to 'Show', mandarin_word %></td>
        <td><%= link_to 'Edit', edit_mandarin_word_path(mandarin_word) %></td>
        <td><%= link_to 'Destroy', mandarin_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mandarin Word', new_mandarin_word_path %>
