<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mandarin_word.user %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @mandarin_word.entry_id %>
</p>

<p>
  <strong>View status:</strong>
  <%= @mandarin_word.view_status %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @mandarin_word.meaning %>
</p>

<p>
  <strong>Radical:</strong>
  <%= @mandarin_word.radical %>
</p>

<p>
  <strong>Stroke order:</strong>
  <%= @mandarin_word.stroke_order %>
</p>

<p>
  <strong>Character simplified:</strong>
  <%= @mandarin_word.character_simplified %>
</p>

<p>
  <strong>Character traditional:</strong>
  <%= @mandarin_word.character_traditional %>
</p>

<p>
  <strong>Pinyin numbered:</strong>
  <%= @mandarin_word.pinyin_numbered %>
</p>

<p>
  <strong>Pinyin marked:</strong>
  <%= @mandarin_word.pinyin_marked %>
</p>

<p>
  <strong>Pinyin:</strong>
  <%= @mandarin_word.pinyin %>
</p>

<p>
  <strong>Tone number:</strong>
  <%= @mandarin_word.tone_number %>
</p>

<p>
  <strong>Mnemonic:</strong>
  <%= @mandarin_word.mnemonic %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @mandarin_word.notes %>
</p>

<p>
  <strong>Learned from:</strong>
  <%= @mandarin_word.learned_from %>
</p>

<p>
  <strong>Etymology:</strong>
  <%= @mandarin_word.etymology %>
</p>

<p>
  <strong>Sound file:</strong>
  <%= @mandarin_word.sound_file %>
</p>

<p>
  <strong>Image file:</strong>
  <%= @mandarin_word.image_file %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @mandarin_word.tags %>
</p>

<p>
  <strong>Opposites standard:</strong>
  <%= @mandarin_word.opposites_standard %>
</p>

<p>
  <strong>Similar standard:</strong>
  <%= @mandarin_word.similar_standard %>
</p>

<p>
  <strong>Opposites traditional:</strong>
  <%= @mandarin_word.opposites_traditional %>
</p>

<p>
  <strong>Similar traditional:</strong>
  <%= @mandarin_word.similar_traditional %>
</p>

<p>
  <strong>Part of speech:</strong>
  <%= @mandarin_word.part_of_speech %>
</p>

<p>
  <strong>Classifier:</strong>
  <%= @mandarin_word.classifier %>
</p>

<p>
  <strong>Initial:</strong>
  <%= @mandarin_word.initial %>
</p>

<p>
  <strong>Final:</strong>
  <%= @mandarin_word.final %>
</p>

<p>
  <strong>Duplicate from:</strong>
  <%= @mandarin_word.duplicate_from %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @mandarin_word.ip_address %>
</p>

<p>
  <strong>Vote value:</strong>
  <%= @mandarin_word.vote_value %>
</p>

<%= link_to 'Edit', edit_mandarin_word_path(@mandarin_word) %> |
<%= link_to 'Back', mandarin_words_path %>
